<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block links %}

            <link href="https://fonts.googleapis.com/css?family=Merriweather|Noto+Sans" rel="stylesheet"> 
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        {% endblock %}
        {% block stylesheet %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <div>
                    <img src="{{asset('img/contenu_logo_pleyber.gif')}}" alt="logo_pleyber" title="Ville de Pleyber">
                </div>
                <div>
                    <img src="{{asset('img/contenu_2_q60.jpg')}}" alt="logo_pleyber_media" title="Mediathèque de Pleyber">
                </div>
            </header>



        {% endblock %}
        {% block nav %} {% endblock %}
        {% block section %} {% endblock %}
    {% block javascripts %}{% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>
