<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('css/base.css') }}" />
    </head>
    <body>
        {% block body %}
        <img src="{{asset('img/contenu_logo_pleyber.gif')}}"
        
        
        
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
