/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 déc. 2016, 11:00:02
    Author     : vanel
*/

footer {
    
    background-color: #878c95;
     text-align: center;
    font-family: 'Noto Sans', sans-serif;
    padding: 1em;
    
    margin: 0em;
    
}