/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 déc. 2016, 11:13:26
    Author     : vanel
*/

header {

    display: flex;

    flex-wrap:wrap;
     font-family: 
        'Noto Sans', sans-serif;
     align-items: center;
}
.gestion {
    color: 
        red;
    font-weight: 
        bold;
   
}
.registered {
    font-weight: 
        bold;
    font-family: 
        'Noto Sans', sans-serif;
}

@media screen and (max-width: 640px) {
    
    header {
       
         flex-direction: column;
         align-items: center;
        
    }
    header div {
        
      
        
    }
    
    
}