{% extends 'base.html.twig' %}


{% block header %}

    {{ parent() }}

{% endblock %}

{% block nav %}

    {% include 'CoreBundle:Core:navbar.html.twig' %}




{% endblock %}

{% block section %}
    <section>
        <button id="event">Cliquez pour obtenir les futurs évènements</button>
        <p id="json0"></p>
        <p id="json1"></p>
    </section>
{% endblock %}


{% block javascripts %}

    <script>

        console.log('AJAX Request');

        var eventBtn = document.getElementById('event');





        eventBtn.onclick = function () {

            var xmlhttp = new XMLHttpRequest();


            xmlhttp.onreadystatechange = function () {
                if (this.readyState === 4) {
                    if (this.status === 200) {








                        console.log(this.responseText);
                        gotEvents = JSON.parse(this.responseText);

                        for (var i = 0; i < gotEvents.length; i++) {
                            event_field = document.getElementById('json' + i).innerHTML = gotEvents[i].title;
                        }
                    } else {
                        console.log(xmlhttp.statusText);
                    }
                }

            };
            xmlhttp.open("GET", "{{path('core_event')}}");
            xmlhttp.send();
        };

    </script>

{% endblock %}