{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block stylesheet %}


{% endblock %}

{% block header %}

    {{ parent() }}


{% endblock %}

{% block nav %}

    {% include 'CoreBundle:Core:navbar.html.twig' %}


{% endblock %}

{% block section %}

    <section>
        <h3>Localisation</h3>
        <article>
            
            
            <div id="map" width="400" height = "400">GoogleMap</div>
            <script>
               /* function myMap() {
                    var mapCanvas = document.getElementById("map");
                    var mapOptions = {
                        center: new google.maps.LatLng(48.5087406, -3.8894754),
                        zoom: 10
                    };
                    var map = new google.maps.Map(mapCanvas, mapOptions);
                }*/
            </script>
            <script src=""></script>
        </article>
        <h3>Horaires</h3>
        <article>
            <h3>Contact</h3>
        </article>


    </section>

{% endblock %}
