{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block stylesheet %}


{% endblock %}

{% block header %}

    {{ parent() }}


{% endblock %}

{% block nav %}

    {% include 'CoreBundle:Core:navbar.html.twig' %}


{% endblock %}

{% block section %}

    <section>
        <h3>Localisation</h3>
        <article>


            <div id="map" width="400" height = "400">GoogleMap</div>
            <script>
                /* function myMap() {
                 var mapCanvas = document.getElementById("map");
                 var mapOptions = {
                 center: new google.maps.LatLng(48.5087406, -3.8894754),
                 zoom: 10
                 };
                 var map = new google.maps.Map(mapCanvas, mapOptions);
                 }*/
            </script>
            <script src=""></script>
        </article>
        <h3>Horaires</h3>
        <div>
            <article>
                <h4>Mardi</h4>
                <p>10h00 - 12h00 et 16h30 - 18h30</p>
                <p>10h00 - 12h00 et 13h30 - 18h30</p>
            </article>
        </div>
        <h3>Contact</h3>
        <div>
            <article>
                <p>
                  Par téléphone : 02.98.78.49.27  
                </p>
            </article>
        </div>

    </section>

{% endblock %}
