{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block stylesheet %}
    
 <link rel="stylesheet" href="{{ asset('css/Info.css') }}" />
{% endblock %}

{% block header %}

    {{ parent() }}


{% endblock %}

{% block nav %}

    {% include 'CoreBundle:Core:navbar.html.twig' %}


{% endblock %}

{% block section %}

    <section>
        <article>
            <h2>Localisation</h2>
        </article>
        <article>
            <h2>Horaires</h2>
        </article>


    </section>

{% endblock %}
