{# INFORMATIONS TEMPLATE #}
{% extends 'base.html.twig' %}

{% block stylesheet %}


{% endblock %}

{% block header %}

    {{ parent() }}


{% endblock %}

{% block nav %}

    {% include 'CoreBundle:Core:navbar.html.twig' %}


{% endblock %}

{% block section %}

    <section>
        <h3>Localisation <i class="fa fa-map-o" aria-hidden="true"></i></h3>
        <article>

            Porz Ruz <br/>
            29410 Pleyber-Christ


        </article>
        <h3>Horaires <i class="fa fa-clock-o" aria-hidden="true"></i></h3>
        <div>
            <article>
                <h4>Mardi</h4>
                <p>10h00 - 12h00</p> 
                <p>16h30 - 18h30</p>

            </article>
            <article>
                <h4>Mercredi</h4>
                <p>10h00 - 12h00</p> <p>13h30 - 18h30</p>
            </article>
            <article>
                <h4>Jeudi</h4>
                <p><strong>réservé aux écoles<br/> et groupes</strong></p>
            </article>
            <article>
                <h4>Vendredi</h4>
                <p>Fermé le matin</p>
                <p>16h30 à 18h30</p>
            </article>
            <article>
                <h4>Samedi</h4>
                <p>10h00 à 12h00</p> <p>13h30 à 15h30</p>
            </article>
        </div>
        <h3>Contact <i class="fa fa-envelope-o" aria-hidden="true"></i></h3>
        <div>
            <article>
                <p>
                    Par téléphone : 02.98.78.49.27  
                </p>
            </article>
            <article>
                <p>
                    Par courriel : <a href="mailto:mediatheque.pleyber@orange.fr">mediatheque.pleyber@orange.fr</a>
                </p>
            </article>
        </div>
          <h3>Newsletter <i class="fa fa-newspaper-o" aria-hidden="true"></i></h3>
        <div>
          
            <article>
                Pour recevoir les news de la médiathèque, (fermetures, animations...) être prévenu en temps réel de l'arrivée de votre réservation, 
                envoyez nous votre adresse Mail à l'adresse suivante : <a href="mailto:mediatheque.pleyber@orange.fr">mediatheque.pleyber@orange.fr</a>
            </article>
        </div>

    </section>

{% endblock %}
