{# empty Twig template #}

<nav>

    <a href=""><h3>Accueil</h3></a>


    <a href="{{path('core_newcontent')}}"><h3>Nouveautés  </h3></a>


    <a href=""><h3>Evenements  </h3></a>


    <a href=""><h3>Connexion </h3></a>

    <a href="{{path('core_catalogue')}}"><h3>Catalogue</h3></a>

    <a href="{{ path('core_additionnal_informations') }}"> <h3>Informations pratiques </h3></a>


</nav>
